[Service]
WorkingDirectory=/opt/cbeam-telemetry-server
ExecStart=/usr/bin/node ./config/c-base.js
Restart=always
User=bergie
Environment=PORT=80

[Unit]
After=network-online.target influxd.service couchdb.service ntpd.service

[Install]
WantedBy=multi-user.target
